/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EEEEEE;
    color: #333;
}

header {
    background-color: #0C0C0C;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.login-button, .details-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1, h2, .filter {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}

.login-button {
    margin-left: 1rem;
}

#places-list {
    width: 80%;
}

#places-list > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#login-form, #review-form, .place-card, .review-card {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    box-shadow: 0px 0px 5px 5px #E0E0E0;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

#place-details {
    width: 100%;
    text-align: center;
}

#place-info {
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fill;
    height: 50%;
    box-shadow: 0px 0px 5px 5px #E0E0E0;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

#reviews, #add-review {
    width: 100%;
    text-align: center;
}

#add-review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#reviews > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#place-info > dt {
    flex: 1 0 30%;
    text-align: right;
    font-weight: bold;
}

#place-info > dd {
    flex: 1 0 60%;
    text-align: left;
}
